
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" /> 
<div class="avatar">
   <img src="assets/img/IMG_2911.JPG" alt="Avatar">
</div>

 <div class="user-details">
  <p>
  I'm a data scientist based out of Provo, Utah with a BS in Statistics from Brigham Young University. Currently, I am planning to pursue a MS in Statistics/Data Science in the Fall of 2025 and I am seeking DS internship opportunities in the meantime. 
  I am passionate about leveraging data and using machine learning and AI methods to drive informed decisions in sports, biotech, and banking. 
  I am always open to connecting with fellow students, professors, data professionals, and anyone who shares a passion for data science! </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Modeling </h2>
  <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-r-plain"></i>
      <i class="devicon-azuresqldatabase-plain"></i>         
    </div>
    <p>
       Across diverse domains, I have applied statistical and machine learning techniques in Python and R to transform raw data into meaningful, actionable insights. 
       I see data as a blank canvas, where analysis and visualization bring clarity to complexity, and I am passionate about crafting compelling visual narratives that reveal the stories hidden within the numbers.
    </p>
  </div>

  <div class="tech">
    <h2>Deploying</h2>
  <div class="icons"> 
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <i class="devicon-docker-plain"></i>
      <i class="devicon-git-plain"></i>     
    </div>
    <p>
      Models are most useful when scaled, and I have experience deploying and scaling ML solutions. I am constantly looking to improve in this sphere as the MLOps landscape continues to grow.
    </p>
  </div>
  <div class="tech">
    <h2>Applying</h2>
  <div class="icons">
      <i class="icon fas fa-basketball-ball"></i>
      <i class="icon fas fa-atom"></i>
      <i class="icon fas fa-chart-line"></i>
    </div>
    <p>
      As an avid sports fanatic, I love applying DS techniques in the realm of sports. I also have interests in the biotechnical and financial applications of machine learning and AI
    </p>
  </div>
</div>
