<header class="project-header">
  <h1 class="site-title"><a href="/">Brady Heinig</a></h1>
  <div class="header-right">
    <!-- Social Icons (Replace with your actual links) -->
    <a href="https://github.com/brady-heinig" class="icon"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/brady-heinig" class="icon"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://twitter.com/YOUR_TWITTER" class="icon"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://instagram.com/YOUR_INSTAGRAM" class="icon"><i class="fa-brands fa-instagram"></i></a>
  </div>
</header>
