<header class="project-header">
  <h1 class="site-title"><a href="/">Brady Heinig</a></h1>
  <div class="header-right">
    <!-- Social Icons (Replace with your actual links) -->
   <a aria-label="E-Mail" href="mailto:bmheinig@gmail.com"><i class="icon fas fa-envelope"></i></a>
        <a rel="me" aria-label="Github" target="_blank" href="https://github.com/brady-heinig"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a rel="me" aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/brady-heinig"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a rel="me" aria-label="Medium" target="_blank" href="https://towardsdatascience.com/@bmheinig"><i class="icon fab fa-medium" aria-hidden="true"></i></a>
  </div>
</header>
